:root {
  --clr-itp-primary: #453115;
  --clr-itp-1: #31230c;
  --clr-itp-2: #ad9986;
  --clr-itp-3: #a78a6e;
  --clr-itp-4: #917950;
  --clr-itp-5: #cbbdaa;
  --clr-itp-6: #7d5732;
  --clr-itp-7: #644921;
  --clr-itp-8: #aca485;
  --clr-itp-9: #695c4d;
  --clr-itp-10: #b4a464;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--clr-itp-primary);
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  background-color: var(--clr-itp-5);
  width: 270px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}

#imagem {
  display: block;
  background: var(--clr-itp-primary) url(../img/casa.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
}

#formulario {
  display: block;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

#formulario p {
  font-size: 0.8em;
}

.campo {
  background-color: var(--clr-itp-primary);
  width: 100%;
  display: block;
  height: 40px;
  border-radius: 8px;
  margin: 12px 0px;
  border: 2px solid var(--clr-itp-primary);
}

label {
  display: none;
}

.campo span {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

.campo input {
  background-color: var(--clr-itp-8);
  font-size: 1em;
  width: calc(100% - 44.8px);
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 12px;
  transform: translateY(-12px);
}

.campo input:focus-within {
  background-color: var(--clr-itp-5);
}

input[type='submit'] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: var(--clr-itp-6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: var(--clr-itp-primary);
}

.botao {
  background-color: var(--clr-itp-5);
  color: var(--clr-itp-primary);
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 7px;
  margin-top: 7px;
  border: 1px solid var(--clr-itp-6);
  border-radius: 5px;
  text-decoration: none;
}

.botao span {
  font-size: 0.8em;
}

.botao:hover {
  background-color: var(--clr-itp-4);
}
