:root {
  --clr-itp-primary: #453115;
  --clr-itp-1: #31230c;
  --clr-itp-2: #ad9986;
  --clr-itp-3: #a78a6e;
  --clr-itp-4: #917950;
  --clr-itp-5: #cbbdaa;
  --clr-itp-6: #7d5732;
  --clr-itp-7: #644921;
  --clr-itp-8: #aca485;
  --clr-itp-9: #695c4d;
  --clr-itp-10: #b4a464;
}
